# Flask
Flask==3.0.3
gunicorn==21.2.0
flask-cors

# Google Gemini
google-genai>=0.17.0

# IBM Orchestrate & AI
ibm-watsonx-orchestrate
ibm-cloud-sdk-core

# Environment & Utilities
python-dotenv==1.0.1
requests>=2.31.0 #requests==2.32.3
